<!DOCTYPE html>
<html>
<head>
	{% block head %}
		{% include 'partials/head' %}
	{% endblock %}
</head>
<body ng-app="Bctheme">
	{% block header %}
	    {% include 'partials/header' %}
	{% endblock %}
    {% block page %}{% endblock %}
</body>
</html>