<header>
    <h1>Awesome Store.</h1>
    <ul id="header-nav" class="list-inline">
        <li class="dropdown">
            <a class="dropdown-toggle icon-female">Ladies</a>
            <ul class="dropdown-menu">
                <li><a href="#">bags</a></li>
                <li><a href="#">dresses</a></li>
                <li><a href="#">shoes</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle icon-male">Men</a>
            <ul class="dropdown-menu">
                <li><a href="#">guns</a></li>
                <li><a href="#">short pants</a></li>
                <li><a href="#">guitars</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle icon-rocket">Accessories</a>
            <ul class="dropdown-menu">
                <li><a href="#">ammo</a></li>
                <li><a href="#">scarves</a></li>
                <li><a href="#">switch blades</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle icon-sale">Sale</a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">babies</a></li>
                <li><a href="#">used shoes</a></li>
                <li><a href="#">HDMI cables</a></li>
            </ul>
        </li>
    </ul>
</header>